<!--
    templateType: global_partial
    label: iKPay Site TopBar
-->
<!-- Begin partial -->
<style>
  .topBar-container {
    align-items: center;
    background-color: #fff;
    display: flex;
    height: 64px;
    justify-content: center;
    width: 100%;
  }
</style>

<header>
  <div class="topBar-container">
    <img
      src="https://6412394.fs1.hubspotusercontent-na1.net/hubfs/6412394/ik-logo-black-small.svg"
      alt="iKhokha logo black"
    />
  </div>
</header>
<!-- End partial -->
