<div class="Gen-Header-Section  justify-content-center position-relative d-block top-0 bottom-0 start-0 end-0 flex-column py-0 {{ module.section_settings.background_colour }} ">
  
  <div class="hero-banner-image-holder {{ module.images.banner_image_position }} {% if module.section_settings.add_shape %}added-shape{% endif %}" style="">
    {% if module.images.banner_image.src %}
      {% set sizeAttrs = 'width="{{ module.images.banner_image.width }}" height="{{ module.images.banner_image.height }}"' %}
      {% if module.images.banner_image.size_type == 'auto' %}
        {% set sizeAttrs = 'width="{{ module.images.banner_image.width }}" height="{{ module.images.banner_image.height }}" style="max-width: 100%; height: auto;"' %}
      {% elif module.images.banner_image.size_type == 'auto_custom_max' %}
        {% set sizeAttrs = 'width="{{ module.images.banner_image.max_width }}" height="{{ module.images.banner_image.max_height }}" style="max-width: 100%; height: auto;"' %}
      {% endif %}
      {% set loadingAttr = module.images.banner_image.loading != 'disabled' ? 'loading="{{ module.images.banner_image.loading }}"' : '' %}
      <img class="d-block d-xs-none d-md-none" src="{{ module.images.banner_image.src }}" alt="{{ module.images.banner_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
    {% endif %}
    {% if module.images.banner_image_mobile.src %}
      {% set sizeAttrs = 'width="{{ module.images.banner_image_mobile.width }}" height="{{ module.images.banner_image_mobile.height }}"' %}
      {% if module.images.banner_image_mobile.size_type == 'auto' %}
        {% set sizeAttrs = 'width="{{ module.images.banner_image_mobile.width }}" height="{{ module.images.banner_image_mobile.height }}" style="max-width: 100%; height: auto;"' %}
      {% elif module.images.banner_image_mobile.size_type == 'auto_custom_max' %}
        {% set sizeAttrs = 'width="{{ module.images.banner_image_mobile.max_width }}" height="{{ module.images.banner_image_mobile.max_height }}" style="max-width: 100%; height: auto;"' %}
      {% endif %}
      {% set loadingAttr = module.images.banner_image_mobile.loading != 'disabled' ? 'loading="{{ module.images.banner_image_mobile.loading }}"' : '' %}
      <img class="d-xs-block d-md-block d-none m-auto" src="{{ module.images.banner_image_mobile.src }}" alt="{{ module.images.banner_image_mobile.alt }}" >
    {% endif %}
  </div>
  
  {% if module.section_settings.add_shape %}
	  <div class="iK-shape-bottom" style="background-image: url({{ get_asset_url('../../images/iK_Shape_Neg.png') }});"></div>
  {% endif %}
  <div class="Gen-Header-header-container content-wrapper text-xs-center d-flex W-100 flex-row align-items-center ">
    <div class="Gen-Header-header mx-0 d-block W-100 justify-content-start {% if module.section_settings.add_shape %} added-shape{% endif %}">
      <div class="Gen-Header-header-content mt-3 W-50 W-md-80 W-xs-100 m-md-auto float-md-none position-relative d-block text-md-center">
        
        {% if module.content.heading_image.src %}
          {% set sizeAttrs = 'width="{{ module.content.heading_image.width }}" height="{{ module.content.heading_image.height }}"' %}
          {% if module.content.heading_image.size_type == 'auto' %}
          {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
          {% elif module.content.heading_image.size_type == 'auto_custom_max' %}
          {% set sizeAttrs = 'width="{{ module.content.heading_image.max_width }}" height="{{ module.content.heading_image.max_height }}" style="max-width: 100%; height: auto;"' %}
          {% endif %}
          {% set loadingAttr = module.content.heading_image.loading != 'disabled' ? 'loading="{{ module.content.heading_image.loading }}"' : '' %}
          <div class="Gen-Header-header-image">
            <div class="heading-image">
                <img src="{{ module.content.heading_image.src }}" alt="{{ module.content.heading_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
            </div>
          </div>
        {% endif %}
        
        <div>
          {% if module.content.heading_lead != "" %}
            <h1 >{{ module.content.heading_lead }}</h1>          
          {% endif %}
          
          {% if module.content.title.banner_heading != "" %}
            {% if module.content.title.title_tag == "h1" %}
              <h1 class="my-2">
                {{ module.content.title.banner_heading }}
              </h1>
            {% elif module.content.title.title_tag == "h2" %}
              <h2 class="my-2">
                {{ module.content.title.banner_heading }}
              </h2>
            {% elif module.content.title.title_tag == "h3" %}
              <h3 class="my-2">
                {{ module.content.title.banner_heading }}
              </h3>
            {% elif module.content.title.title_tag == "h4" %}
              <h4 class="my-2">
                {{ module.content.title.banner_heading }}
              </h4>
            {% elif module.content.title.title_tag == "h5" %}
              <h5 class="my-2">
                {{ module.content.title.banner_heading }}
              </h5>
            {% elif module.content.title.title_tag == "h6" %}
              <h6 class="my-2">
                {{ module.content.title.banner_heading }}
              </h6>
            {% endif %}
          {% endif %}

          {% if module.content.banner_sub_heading != "" %}
            <div class="content my-2 subtitle">{{ module.content.banner_sub_heading }}</div>
          {% endif %}
        </div>
        
        <div class="my-4 content-below-subtitle-buttons">
          {% if module.button_type == "standard" %}
            {% set href = module.button_link.url.href %}
            {% if module.button_link.url.type is equalto "EMAIL_ADDRESS" %}
              {% set href = "mailto:" + href %}
            {% endif %}
            {% set rel = [] %}
            {% if module.button_link.no_follow %}
              {% do rel.append("nofollow") %}
            {% endif %}
            {% if module.button_link.open_in_new_tab %}
              {% do rel.append("noopener") %}
            {% endif %}
              <a href="{{ href }}"
                 {% if module.button_link.open_in_new_tab %}target="_blank"{% endif %}
                 {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}
                 class="Gen-Header-cta w-button theme-btn W-50 W-xs-100 {{ item.button_color }}">{{ module.button_text }}</a>
          {% endif %}
          {% if module.button_type == "cta" %}
            {% cta guid="{{ module.select_cta }}" %}
          {% endif %}

          {% for item in module.button_item %}
            {% if item.button_type == "standard" %}
              {% set href = item.button_link.url.href %}
              {% if item.button_link.url.type is equalto "EMAIL_ADDRESS" %}
                {% set href = "mailto:" + href %}
              {% endif %}
              {% set rel = [] %}
              {% if item.button_link.no_follow %}
                {% do rel.append("nofollow") %}
              {% endif %}
              {% if item.button_link.open_in_new_tab %}
                {% do rel.append("noopener") %}
              {% endif %}
              <a href="{{ href }}"
                 {% if item.button_link.open_in_new_tab %}target="_blank"{% endif %}
                 {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}
                 class="theme-btn W-50 W-xs-100 {% if loop.index > 1 %}button-{{ loop.index}}{% endif %} {{ item.button_color }}">{{ item.button_text }}</a>
            {% endif %}
            {% if module.button_type == "cta" %}
              {% cta guid="{{ item.select_cta }}" %}
            {% endif %}        
            {% if item.button_type == "popup" %}
              <a class="theme-btn W-50 W-xs-100  {% if loop.index > 1 %} button-{{ loop.index}}{% endif %} popup {{ item.button_color }}" data-id="custom-{{ loop.index }}">{{ item.button_text }}</a>
            {% endif %}        
            {% if item.button_type == "link" %}
              <a href="{{ item.url }}" class="theme-link link-text theme-arrow-right {% if loop.index > 1 %} button-{{ loop.index}}{% endif %} theme-btn W-50 W-xs-100-{{ item.button_color }}" data-id="custom-{{ loop.index }}"
                 {% if item.button_link.open_in_new_tab %}target="_blank"{% endif %}>{{ item.button_text }}</a>
            {% endif %}
          {% endfor %}  
        </div>
        
        <div class="additional-logos">
          {% for item in module.content.additional_logo %}
            {% if item.src %}
              {% set sizeAttrs = 'width="{{ item.width }}" height="{{ item.height }}"' %}
              {% if item.size_type == 'auto' %}
                {% set sizeAttrs = 'width="{{ item.width }}" height="{{ item.height }}" style="max-width: 100%; height: auto;"' %}
              {% elif item.size_type == 'auto_custom_max' %}
                {% set sizeAttrs = 'width="{{ item.max_width }}" height="{{ item.max_height }}" style="max-width: 100%; height: auto;"' %}
              {% endif %}
               {% set loadingAttr = item.loading != 'disabled' ? 'loading="{{ item.loading }}"' : '' %}
              <img class="W-70" src="{{ item.src }}" alt="{{ item.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      
    </div>
  </div>
</div>