<section
  class="gen-payment-icon-section version1.1  {{ module.background_colour }} {{module.border_radius}}  {{ module.border_colour }} {% if module.remove_bottom_space %} pb-desktop-0 {% endif %}"
>
  <div class="page-center">
    <div class="content-wrapper p-4 pt-xs-4">
      <div
        class="gen-title-content W-100 {{ module.text_align_desktop }} {{ module.text_align_mobile }}"
      >
        {% if module.heading.title != "" %} {% if module.heading.title_tag ==
        "h1" %}
        <h1 class="heading">{{ module.heading.title }}</h1>
        {% elif module.heading.title_tag == "h2" %}
        <h2 class="heading">{{ module.heading.title }}</h2>
        {% elif module.heading.title_tag == "h3" %}
        <h3 class="heading">{{ module.heading.title }}</h3>
        {% elif module.heading.title_tag == "h4" %}
        <h4 class="heading">{{ module.heading.title }}</h4>
        {% elif module.heading.title_tag == "h5" %}
        <h5 class="heading">{{ module.heading.title }}</h5>
        {% elif module.heading.title_tag == "h6" %}
        <h6 class="heading">{{ module.heading.title }}</h6>
        {% endif %} {% endif %} {% if module.sub_title != "" %}
        <p class="sub-title mt-2 mb-2">{{ module.sub_title }}</p>
        {% endif %}
      </div>

      <div
        class="icons W-40 W-md-60 W-xs-90 d-flex text-center justify-content-evenly m-auto align-items-baseline"
      >
        {% for item in module.icon %} {% if item.src %} {% set sizeAttrs =
        'width="{{ item.width }}" height="{{ item.height }}"' %} {% if
        item.size_type == 'auto' %} {% set sizeAttrs = 'width="{{ item.width }}"
        height="{{ item.height }}" style="max-width: 100%; height: auto;"' %} {%
        elif item.size_type == 'auto_custom_max' %} {% set sizeAttrs =
        'width="{{ item.max_width }}" height="{{ item.max_height }}"
        style="max-width: 100%; height: auto;"' %} {% endif %} {% set
        loadingAttr = item.loading != 'disabled' ? 'loading="{{ item.loading
        }}"' : '' %}
        <div class="icon">
          <div class="image {{module.border_icon_colour}}">
            <img
              src="{{ item.src }}"
              alt="{{ item.alt }}"
              {{
              loadingAttr
              }}
              {{
              sizeAttrs
              }}
            />
          </div>
        </div>
        {% endif %} {% endfor %}
      </div>
    </div>
  </div>
</section>
